%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.btn-blue {
  @extend %btn-shared;
  color: #fff;
  background-color: rgb(63, 195, 212);
  border-radius: 20px;
  outline: none;
}
